# kubeadm-config.yaml
kind: ClusterConfiguration
apiVersion: kubeadm.k8s.io/v1beta4
kubernetesVersion: v{{ kubernetes_version }}
networking:
  podSubnet: {{ pod_subnet }}
  serviceSubnet: {{ service_subnet }}
---
kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
cgroupDriver: systemd
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: "{{ inventory_hostname }}"
  bindPort: {{ kubeadm_bind_port }}
nodeRegistration:
  name: {{ node_name }}
  criSocket: unix:///run/containerd/containerd.sock
timeouts:
  controlPlaneComponentHealthCheck: {{ kubeadm_control_plane_timeout }}
  kubernetesAPICall: {{ kubeadm_api_call_timeout }}
